<!doctype html>
<html lang="en" data-theme="light">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>nicoweb — {{ title }}</title>
    <script>
      (function () {
        const theme = localStorage.getItem("theme");
        if (theme) {
          document.documentElement.dataset.theme = theme;
        }
      })();
    </script>
    {% block css %}
      <link href="css/style.css" rel="stylesheet" />
    {% endblock %}
  </head>
  <body>
    <div class="body-container">
      {% include "layouts/header.html" %}
      <main>
        {% block content %}
        <article>
          <!-- <h1>{{ title }}</h1> -->
          {{ content | safe }}
        </article>
        {% endblock %}
      </main>
      {% include "layouts/footer.html" %}
    </div>
  </body>
  {% block js %}
    <script src="js/script.js"></script>
  {% endblock %}
</html>
