<header>
  <h1 id="header-logo"><a href="/">nicoweb</a></h1>
  <div id="header-side">
    <select id="theme-select">
      <option value="" disabled>light ---</option>
      <option name="theme" value="light" id="light">base-light</option>
      <option name="theme" value="blue" id="blue">blue</option>
      <option name="theme" value="dayfox" id="dayfox">dayfox</option>
      <option value="" disabled>dark ---</option>
      <option name="theme" value="dark" id="dark">base-dark</option>
      <option name="theme" value="gruv" id="gruv">gruvbox</option>
      <option name="theme" value="nightfox" id="nightfox">nightfox</option>
    </select>
  </div>
</header>
